@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.min-height-100vh {
  min-height: 100vh;
}

.d-inline-block {
  display: inline-block;
}

.overflow-scrollx::-webkit-scrollbar {
  display: none;
}

.white-space-nowrap {
  white-space: nowrap;
}

.vertical-align-middle {
  vertical-align: middle;
}
